.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
}

.postItem {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: center;
  color: rgb(77, 77, 77);
  font-size: 40px;
  font-weight: 700;
}
